<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i1.wp.com/www.cinefagos.es/wp-content/uploads/2020/03/cine.jpg?fit=1600%2C900&ssl=1);">
  <div class="container">
    <h1><strong>List of movies</strong>!</h1>
    <%= link_to 'Add a new list', new_list_path, class:"btn btn-info" %>
  </div>
</div>
<div class="container">
 <div class="row">
   <% @lists.each do |list| %>
    <div class="col-6">
    <%= link_to list_path(list) do %>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, crop: :fill %>')">
       <%= list.name %>
     </div>
  <% end %>
    </div>
   <% end %>
 </div>

</div>
